h1{
    color:red; /* esto es un comentario en css*/
/*esta propiedad sirve para poner color altexto*/
background-color:yellow; /*color de fondo*/
text-align: center;/* centrar texto*/
}

h2{
    color: green;
    font-family: Arial, Helvetica, sans-serif;/* fuente*/
}
p{
    color: blue;
    font-size: 22px;/*tamaño de la tipo/*
    line-height: 35px;/*alto de linea en parrafo*/
}

div{
    width: 300px;
height: 300px;
background-color: orange;
border-right: 5px dashed blue;
padding: 20px;/*espacio dentro desde el borde hacia el contenido*/
margin-left: 100px;

}




.destacado{
    color: pink;
    font-weight: bold;/*negrita*/
    font-style: italic;/*clase italica*/
}

